<ion-view title="Register" id="page3">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="profile" id="register-button3" class="button button-stable  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>