<!-- Remove `hide-nav-bar="true"` if you plan to use default header  -->
<ion-view title="your-page-name" id="your-page-id" hide-nav-bar="true" >
    <ion-content padding="false">
    	<style type="text/css">
    		.col {
    			background-color: #dedede;
    			min-height: 150px;
    		}
    		.col-50, .col-33, .col-25 {
    			background-color: #dedede;
    			margin-top: 4px;
			    margin-left: -1px;
			    min-height: 150px;
			    margin-right: 4px;
    		}
    	</style>
    	<div class="row">
    		<div class="col"></div>
    	</div>

    	<div class="row">
    		<div class="col-50"></div>
    		<div class="col-50"></div>
    	</div>

    	<div class="row">
    		<div class="col-50"></div>
    		<div class="col-50"></div>
    	</div>

    	<div class="row">
    		<div class="col-33"></div>
    		<div class="col-33"></div>
    		<div class="col-33"></div>
    	</div>

    	<div class="row">
    		<div class="col-25"></div>
    		<div class="col-25"></div>
    		<div class="col-25"></div>
    		<div class="col-25"></div>
    	</div>
    </ion-content>
</ion-view>